body {
  background-color: #c9f2ff;
  font-family: helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

th {
  background-color: #586ff3;
  color: white;
}

.hobi {
  text-align: start;